:root {
  --main-color: #d97652;
  --sub-color: #f2e9d8;
  --point-color: #263140;
}

.middle-container2 {
  margin: 0 auto;
}

header {
  max-width: 1280px;
  margin: 0 auto;
}

/* header */
header {
  padding: 0 20px;
  max-width: 1280px;
  height: 102px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
}

.top-hodu-logo {
  width: 130px;
}

.top-nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.download-btn,
.learn-btn,
.subscribe-btn,
.modal-btn {
  width: 140px;
  height: 50px;
  background-color: var(--main-color);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  border-radius: 40px;
  margin-left: 10px;
  cursor: pointer;
}

/* menu-bar */
.menu {
  display: flex;
  align-items: center;
}

/* main */
.middle-container1 .wrapper,
.middle-container2 .wrapper,
.container3-subscribe,
footer .wrapper {
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 20px;
}
/* container1 */
.middle-container1 {
  background-color: var(--sub-color);
  gap: 128px;
  padding-top: 132px;
}

.container1-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 737px;
  gap: 40px;
  white-space: pre-line;
}
.container1_title {
  font-weight: 700;
  font-size: 48px;
}
.container1-text {
  max-width: 439px;
}
.container1-img {
  flex-grow: 0;
  max-width: 100%;
  height: auto;
}

.middle-container1 .download-btn {
  margin: 0;
}

/* container2 */

.middle-container2 .wrapper {
  flex-direction: column;
}

/* container2-top */
.middle-container2 .container2-top {
  display: flex;
  flex-wrap: wrap;
  gap: 110px;
  padding: 80px 0 120px;
}

.container2-top-img {
  display: inline;
  max-width: 660px;
  border-radius: 30px;
  filter: drop-shadow(10px 10px 30px rgba(0, 0, 0, 0.25));
}

.container2-top-contents {
  display: inline-block;
  flex: 1;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  white-space: pre-line;
}
.container2-top-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
.container2-top-text {
  text-align: center;
}

/* container2-bottom */

.container2-bottom-title {
  font-weight: 700;
  font-size: 48px;
  color: var(--main-color);
  margin-bottom: 40px;
  text-align: center;
}
.container2-bottom-text {
  text-align: center;
}
.container2-bottom-text span {
  color: var(--main-color);
}
.container2-bottom-card {
  font-size: 14px;
  display: flex;
  gap: 72px;
  padding-top: 88px;
  padding-bottom: 90px;
}
.container2-bottom-card-img {
  width: 100%;
  height: auto;
  filter: drop-shadow(10px 10px 30px rgba(0, 0, 0, 0.25));
  border-radius: 30px;
}
.container2-bottom-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  white-space: pre-line;
  gap: 52px;
}
.container2-bottom-contents.download-btn {
  flex-basis: 100px;
  flex-shrink: 0;
}

/* container3 */
.middle-container3 {
  height: 340px;
  background: url(../hodu-img/img_5.png) no-repeat center center / cover;
}
.middle-container3 .wrapper {
  margin: 196px 20px 0;
  justify-content: center;
  align-items: center;
}
.container3-subscribe {
  padding: 50px 58px;
  background-color: var(--point-color);
  border-radius: 30px;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: -100px;
  gap: 30px;
}

.container3-subscribe-contents {
  color: #ffffff;
}
.subscribe-title {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 18px;
}

.subscribe-text {
  color: #f2e9d8;
}

.container3-subscribe-form {
  box-sizing: border-box;
  max-width: 530px;
  height: 60px;
  background: #ffffff;
  border-radius: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px 0 10px;
  gap: 20px;
}

.container3-subscribe-form input {
  all: unset;
  width: 192px;
  margin-left: 18px;
  padding-left: 30px;
  background: url(../hodu-img/mail.png) no-repeat;
}
.container3-subscribe-form input::before {
  content: '';
  display: inline-block;

  background: url(../hodu-img/mail.png) no-repeat 0 0;
  background-size: 24px 24px;
}

.scroll-top-btn {
  position: fixed;
  bottom: 24px;
  right: 24px;
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(../hodu-img/scroll-top-btn.png) no-repeat;
}
.scroll-top-btn:hover {
  background: url(../hodu-img/scroll-top-btn-hover.png) no-repeat;
}

/* modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  flex-direction: column;
  justify-content: center;
}
.modal-body {
  width: 600px;
  height: 400px;
  margin: 0 auto;
  background: url(../hodu-img/modal_bg.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
  border-radius: 30px;

  box-sizing: border-box;
  gap: 20px;
}

.modal-title {
  font-weight: 700;
  font-size: 36px;
  color: #d97652;
}
.modal-text {
  font-size: 14px;
}
.modal-btn {
  width: 190px;
}

/* footer */

footer .wrapper {
  height: 160px;
  align-items: center;
}

footer ul {
  display: flex;
  gap: 20px;
}
footer .bottom-menu {
  display: none;
}
